/* body{
    box-sizing: border-box;
    padding:0;
   margin: 0;
}
p{
    color: blueviolet;
}
.container{
    display: flex;
    justify-content: space-between;
 


} */
img{
    max-width: fixed;
   height:auto;
}

/* .zoom img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom :hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
} */