/* body{
    box-sizing: border-box;
    padding:0;
   margin: 0;
}
p{
    color: blueviolet;
}
.container{
    display: flex;
    justify-content: space-between;
 


} */
img{
    max-width: fixed;
   height:auto;
}

/* .zoom img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom :hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
} */

/* 
<?php
  require_once('../config.php');
  include_once('../devINFANS/codoli.php');
  require_once('lib.php');
  require_once('function.php');
  
$PAGE->set_context(get_system_context());
$PAGE->set_pagelayout('standard');
$PAGE->set_title("About page");
$PAGE->set_heading("Mes formations :");
$PAGE->set_url($CFG->wwwroot . '/about.php');

  echo $OUTPUT->header();
?>
<body>
    <div class="container-fluid row  ">
        <?php
              $infoformation =  sortFormation("myriam.3413@hotmail.fr"); 
              $situation_precedente = 0;

              foreach($infoformation as $inform )  {
                      if(!empty($inform['opcaIPE'])  || !empty($inform['opcaIPE1']))
                               $numopcafile=$inform['opcaIPE'];
                               $numopcafile1=$inform['opcaIPE1'];
                               $dt = time();
                               $dated= strtotime($inform['dated']);
                               $datef=strtotime($inform['datef']); 

                                    //afficher les formation en cours
                               if ($dated <= $dt && $datef > $dt)  {   
                                if($situation_precedente != 1) 
                                echo   ' <div class="row">
                                <div class="col-sm-12">
                                <h2>Formation en cours :</h2>
                                <hr />
                              ';
                            echo '<div class="row">
                                  <div class="col-sm-4">
                                  <img src="https://e-linguo-moodle.com/img/288.png" alt="image bloc7"  class="img-thumbnail" />
                                  </div>
                                  <div class="col-sm-8">
                                  <h5 style="color : #64c4d8 !important;">';
                            echo $inform['intitule_custo'];
                            echo '</h5>
                                  <p><strong>Dates : du </strong>' . date('d/m/Y', $dated) . ' <strong>au </strong>' .date('d/m/Y',$datef) .' </p>
                                  <p><strong>Numéro de parcours :</strong> '.(empty( $numopcafile)? $numopcafile1: $numopcafile).' </p>
                                  <p><strong>Session :</strong> '.$inform['rowid'].'</p>
                                  </div>
                                  </div>
                                  </div> 
                                  </div>
                                  ';
                        
                  $situation_precedente = 1;
                }
                // Afficher les formations terminé
                              elseif ( $dated < $dt)  { 
                                  if($situation_precedente != 2)  
                                  echo   ' <div class="row">
                                           <div class="col-sm-12">
                                           <h2>Formation Passée :</h2>
                                           <hr />
                                           ';
                                       echo '<div class="row">
                                             <div class="col-sm-4">
                                             <img src="https://e-linguo-moodle.com/img/288.png" alt="image bloc7" class="img-thumbnail" />
                                             </div>
                                        
                                             <div class="col-sm-8">
                                             <h5 style="color : #64c4d8 !important;">';
                                       echo $inform['intitule_custo'];
                                       echo '</h5>
                                             <p> <strong> Dates : du </strong> ' . date('d/m/Y', $dated) . ' <strong> au </strong>' .date('d/m/Y',$datef) .'</p>
                                             <p> <strong> Numéro de parcours : </strong>'.(empty( $numopcafile)? $numopcafile1: $numopcafile).' </p>
                                             <p><strong> Session :</strong> '.$inform['rowid'].'</p>
                                             </div>
                                             </div>
                                             </div>
                                             </div>';
                  $situation_precedente = 2;
                }
                //affficher les  formations a venir
                              elseif ( $dt < $dated ) { 
                                    if($situation_precedente != 3)  
                                    echo '
                                            <div class="row">
                                            <div class="col-sm-12">
                                            <h2>Formation à Venir :</h2>
                                            <hr/>';
                                       echo '<div class="row">
                                             <div class="col-sm-4">
                                             <img src="https://e-linguo-moodle.com/img/288.png"  alt="image bloc7" class="img-thumbnail" />
                                             </div>
                                            <div class="col-sm-8">
                                            <h5 style="color : #64c4d8 !important;">';
                                       echo $inform['intitule_custo'];
                                       echo '</h5>
                                             <p><strong> Dates : du </strong>' . date('d/m/Y', $dated) . ' <strong> au </strong>' .date('d/m/Y',$datef) .'</p>
                                            <p><strong> Numéro de parcours :</strong> 
                                            '.(empty( $numopcafile)? $numopcafile1: $numopcafile).
                                            ' </p>
                                             <p><strong> Session :</strong> '.$inform['rowid'].'</p>
                                             </div>
                                             </div>
                                             </div>
                                             </div>';
                    $situation_precedente = 3;
                }
                
              }      
        ?>
  </div>
<?php 
     echo $OUTPUT->footer(); 
?>
</body>


</html> */