*{
    margin: 0px;
    padding:0px;

}
.image{

    margin: 20px;
    display:grid;
    grid-template-columns: 10px, auto;
    /* grid-template-columns: minmax(150px, 25%) 1fr; */
  


}
.image1{
    margin: 20px;

}
.container{
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}
h2{
    padding-bottom: 20px;
}
p{
    padding-bottom: 20px;
    letter-spacing: 1px;
}
 hr{
    margin:5px;
 }
 img{
    height: 150px;
    width: 190px;
    padding-top: 5px;
 }
 /* media queries*/

 @media (min-width: 1119px){
    img{
        height: auto;
    }

 }
 @media screen and (min-width: 1400px){
    /* img{
        height:600px ;
    } 
    .container{
        display: grid;
        grid-template-rows: auto auto ;
    }*/

 }
 @media(max-width:694px){
    .container{
        display: grid;
        grid-template-rows: auto auto ;
    }

 }
 @media (max-width:458px) {

    .container{
        display: grid;
        grid-template-columns: auto;
        
    
 }

  
}